## RETO PwC

### Installing libs

In [ ]:
pip install pandas

### Load data

In [1]:
import pandas as pd

In [3]:
pwc = pd.read_csv('Ej_EDA_ETL_Modelling/full_dataset.csv')

## EDA

In [11]:
pwc.describe()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
count,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06
mean,2.433972e+02,1.798619e+05,8.338831e+05,8.551137e+05,1.100702e+06,1.224996e+06,1.290820e-03,2.514687e-06
std,1.423320e+02,6.038582e+05,2.888243e+06,2.924049e+06,3.399180e+06,3.674129e+06,3.590480e-02,1.585775e-03
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.560000e+02,1.338957e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.390000e+02,7.487194e+04,1.420800e+04,0.000000e+00,1.327057e+05,2.146614e+05,0.000000e+00,0.000000e+00
75%,3.350000e+02,2.087215e+05,1.073152e+05,1.442584e+05,9.430367e+05,1.111909e+06,0.000000e+00,0.000000e+00
max,7.430000e+02,9.244552e+07,5.958504e+07,4.958504e+07,3.560159e+08,3.561793e+08,1.000000e+00,1.000000e+00

In [4]:
pwc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   step            int64
 1   type            object
 2   amount          float64
 3   nameOrig        object
 4   oldbalanceOrg   float64
 5   newbalanceOrig  float64
 6   nameDest        object
 7   oldbalanceDest  float64
 8   newbalanceDest  float64
 9   isFraud         int64
 10  isFlaggedFraud  int64
dtypes: float64(5), int64(3), object(3)
memory usage: 534.0+ MB

In [16]:
pwc.columns

Index(['step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig',
       'nameDest', 'oldbalanceDest', 'newbalanceDest', 'isFraud',
       'isFlaggedFraud'],
      dtype='object')

In [37]:
pwcIsFraud = pwc.query('isFraud == "1"')

In [38]:
pwcIsFraud.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   step            0 non-null      int64
 1   type            0 non-null      object
 2   amount          0 non-null      float64
 3   nameOrig        0 non-null      object
 4   oldbalanceOrg   0 non-null      float64
 5   newbalanceOrig  0 non-null      float64
 6   nameDest        0 non-null      object
 7   oldbalanceDest  0 non-null      float64
 8   newbalanceDest  0 non-null      float64
 9   isFraud         0 non-null      int64
 10  isFlaggedFraud  0 non-null      int64
dtypes: float64(5), int64(3), object(3)
memory usage: 0.0+ bytes

In [19]:
pwcIsNotFraud = pwc.sample(n=8213, random_state=1)

In [20]:
pwcIsNotFraud.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8213 entries, 6322570 to 4858895
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   step            8213 non-null   int64
 1   type            8213 non-null   object
 2   amount          8213 non-null   float64
 3   nameOrig        8213 non-null   object
 4   oldbalanceOrg   8213 non-null   float64
 5   newbalanceOrig  8213 non-null   float64
 6   nameDest        8213 non-null   object
 7   oldbalanceDest  8213 non-null   float64
 8   newbalanceDest  8213 non-null   float64
 9   isFraud         8213 non-null   int64
 10  isFlaggedFraud  8213 non-null   int64
dtypes: float64(5), int64(3), object(3)
memory usage: 770.0+ KB

In [ ]:
# Las dos nuevas variables, pwcIsFraud y pwcIsNotFraud contienen 8213 registros cada una, 
# una con isFraud true y otra con isFraud false.